/*svg {
  font: 10px sans-serif;
}

path.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}
*/
/*path .area {
  fill: black;
}*/
/*
.axis {
  shape-rendering: crispEdges;
}*/

/*line {
  stroke: #fff;
}*/
/*
.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line,
.y.axis path {
  fill: none;
  stroke: #000;
}
*/


.axis text {
  fill: grey;
  shape-rendering: crispEdges;
  font-family: Helvetica;
}

.axis {
  fill: #eeeeee;
}

.area {
  fill: lightsteelblue;
}

/*text {
  font-family: Arial;
  color: blue;
}*/
.bar {
  fill: lightblue;
}

.bar:hover {
  fill: brown;
}